//Avaiable Colors in my UI Library
$colors: (
  "indian_red": #cd5c5c,
  "light_coral": #f08080,
  "salmon": #fa8072,
  "dark_salmon": #e9967a,
  "light_salmon": #ffa07a,

  "crimson": #dc143c,
  "red": #ff0000,
  "fire_brick": #b22222,
  "dark_red": #8b0000,

  "pink": #ffc0cb,
  "light_pink": #ffb6c1,
  "hot_pink": #ff69b4,
  "deep_pink": #ff1493,
  "medium_violet_red": #c71585,
  "pale_violet_red": #db7093,

  "coral": #ff7f50,
  "tomato": #ff6347,
  "orange_red": #ff4500,
  "dark_orange": #ff8c00,
  "orange": #ffa500,

  "gold": #ffd700,
  "yellow": #ffff00,
  "light_yellow": #ffffe0,
  "lemon_chiffon": #fffacd,
  "light_golden_rod_yellow": #fafad2,
  "papaya_whip": #ffefd5,
  "moccasin": #ffe4b5,
  "peach_puff": #ffdab9,
  "pale_golden_rod": #eee8aa,
  "khaki": #f0e68c,
  "dark_khaki": #bdb76b,

  "green_yellow": #adff2f,
  "chart_reuse": #7fff00,
  "lawn_green": #7cfc00,
  "lime": #00ff00,
  "lime_green": #32cd32,
  "pale_green": #98fb98,
  "light_green": #90ee90,
  "medium_spring_green": #00fa9a,
  "spring_green": #00ff7f,
  "medium_sea_green": #3cb371,
  "sea_green": #2e8b57,
  "forest_green": #228b22,
  "green": #008000,
  "dark_green": #006400,
  "yellow_green": #9acd32,
  "olived_rab": #6b8e23,
  "olive": #808000,
  "dark_olive_green": #556b2f,
  "medium_aqua_marine": #66cdaa,
  "dark_sea_green": #8fbc8f,
  "light_sea_green": #20b2aa,
  "dark_cyan": #008b8b,
  "teal": #008080,

  "aqua": #00ffff,
  "cyan": #00ffff,
  "light_cyan": #e0ffff,
  "pale_turquoise": #afeeee,
  "aqua_marine": #7fffd4,
  "turquoise": #40e0d0,
  "medium_turquoise": #48d1cc,
  "dark_turquoise": #00ced1,
  "cadet_blue": #5f9ea0,
  "steel_blue": #4682b4,
  "light_steel_blue": #b0c4de,
  "powder_blue": #b0e0e6,
  "light_blue": #add8e6,
  "sky_blue": #87ceeb,
  "light_sky_blue": #87cefa,
  "deep_sky_blue": #00bfff,
  "dodger_blue": #1e90ff,
  "cornflower_blue": #6495ed,
  "medium_slate_blue": #7b68ee,
  "royal_blue": #4169e1,
  "blue": #0000ff,
  "medium_blue": #0000cd,
  "dark_blue": #00008b,
  "navy": #000080,
  "midnight_blue": #191970,

  "lavender": #e6e6fa,
  "thistle": #d8bfd8,
  "plum": #dda0dd,
  "violet": #ee82ee,
  "orchid": #da70d6,
  "fuchsia": #ff00ff,
  "magenta": #ff00ff,
  "medium_orchid": #ba55d3,
  "medium_purple": #9370db,
  "blue_violet": #8a2be2,
  "dark_violet": #9400d3,
  "dark_orchid": #9932cc,
  "dark_magenta": #8b008b,
  "purple": #800080,
  "indigo": #4b0082,
  "slate_blue": #6a5acd,
  "dark_slate_blue": #483d8b,
  "rebecca_purple": #663399,

  "white": #ffffff,
  "snow": #fffafa,
  "honey_dew": #f0fff0,
  "mint_cream": #f5fffa,
  "azure": #f0ffff,
  "alice_blue": #f0f8ff,
  "ghost_white": #f8f8ff,
  "white_smoke": #f5f5f5,
  "sea_shell": #fff5ee,
  "beige": #f5f5dc,
  "old_lace": #fdf5e6,
  "floral_white": #fffaf0,
  "ivory": #fffff0,
  "antique_white": #faebd7,
  "linen": #faf0e6,
  "lavender_blush": #fff0f5,
);

@each $name, $hex in $colors {
  .color-#{$name} {
    color: #{$hex};
  }
  .bg-#{$name} {
    background-color: #{$hex};
  }
}
